<%= render Ruxin.LayoutView, "carousel.html" %>

<%= render Ruxin.LayoutView, "category_nav.html" %>



<%= for project <- @projects do %>
        
  <%= link "Show", to: project_path(@conn, :show, project), class: "btn btn-default btn-xs" %>
       
<% end %>
  
