<%= render Ruxin.LayoutView, "carousel.html" %>

<%= render Ruxin.LayoutView, "category_nav.html" %>




<%= @project.content %>




<%= link "Edit", to: project_path(@conn, :edit, @project) %>
<%= link "Back", to: project_path(@conn, :index) %>
