<link href="https://cdn.bootcss.com/summernote/0.8.10/summernote.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/summernote/0.8.10/summernote.js"></script>

<script>
$(document).ready(function() {
  $('textarea').summernote();
});
</script>
